Repository greenbone/ospd, pull requests merged in 2021-08, with the labels that each got.

#445 [20.08] Add signing to workflow ...
  .github/workflows/release-pontos-patch.yml
Labels: make patch release

#447 Update CODEOWNERS
  .github/CODEOWNERS
Labels: backport-to-21.04, backport-to-master

#446 [21.04] Add signing to workflow ...
  .github/workflows/release-pontos-patch.yml
  ospd/main.py
  ospd/ospd.py
  ospd/resultlist.py
  ospd/scan.py
  ospd/server.py
  ospd/vts.py
  poetry.lock
  tests/helper.py
  tests/test_scan_and_result.py
  tests/test_vts.py
Labels: make patch release

#453 Downgrade required version for psutil to 5.5.1
  CHANGELOG.md
  pyproject.toml
Labels: backport-to-master
